*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xcbkptlist
*.xcscheme
**/xcschememanagement.plist
.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/Flutter/Flutter.framework
/Flutter/Flutter.podspec
/Flutter/Generated.xcconfig
/Flutter/ephemeral/
/Flutter/app.flx
/Flutter/app.zip
/Flutter/flutter_assets/
/Flutter/flutter_export_environment.sh
/ServiceDefinitions.json
/flutter_export_environment.sh
GeneratedPluginRegistrant.*
Podfile
Podfile.lock
Runner.xcworkspace/
