body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

picture#splash {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

picture#splash img.center {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #121212;
  }
}
